/* header nav  */
.navbar-brand {
    font-family: Georgia;
    font-weight: 400;
    font-size:30px;
    background-color: lightseagreen
    ;
} 

.nav-item {
    font-family: Georgia;
}
/* .navbar-brand{
	font-family: "Georgia", serif;
	font-weight: 800;
	font-size: 20px;
    margin-left: auto;
    background-color: lightseagreen
    
} */

.display-4 {
    font-family: Georgia;
    font-weight: 400;
    color: lightseagreen;

}

.display-3 {
    font-family: Georgia;
    font-size: 40px;
    font-weight: 400;
    color: lightseagreen;
}

p {
    font-family: Georgia;
    font-size: 25px;
}

.under-header {
    font-family: Georgia;
    font-size: 15px
}

.card-title {
    font-family: Georgia;
    color: lightseagreen;
}